#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.yellow:hover {
  background-color: yellow;
  color: black;
}

.header {
  font-size: 4em;
}

h3 {
  font-weight: 400;
  color: grey;
  letter-spacing: -1px;
}


button {
  margin: 0px 12px;
}